<div class="chart__container">
  <div class="chart__timeline">
    <span class="chart__time-point" *ngFor="let timePoint of timeline">
      {{
        timePoint.hour === '12'
          ? timePoint.format === 'AM'
            ? 'M'
            : 'N'
          : timePoint.hour
      }}
    </span>
  </div>
  <div class="chart__row" *ngFor="let row of rows">
    <div
      class="chart__cell-statistic-line"
      *ngFor="let chartEvent of chartEvents; let i = index"
      (click)="showAdditionalInformation(chartEvent)"
    >
      <div
        class="chart__cell-statistic-element"
        *ngIf="chartEvent.type === row.value"
        [style.background]="row.color"
        [style.width.px]="chartEvent.duration"
        [style.left.px]="chartEvent.start"
      >
        <div
          class="chart__cell-statistic-connector"
          *ngIf="i < chartEvents.length - 1"
          [style.background]="row.color"
          [style.height.px]="
            Math.abs(chartEvent.row_number - chartEvents[i + 1].row_number) *
            cellWidthInPx
          "
          [ngClass]="{
            'chart__cell-statistic-connector--top':
              chartEvent.row_number < chartEvents[i + 1].row_number,
            'chart__cell-statistic-connector--bottom':
              chartEvent.row_number > chartEvents[i + 1].row_number
          }"
        ></div>
      </div>
    </div>

    <span class="chart__cell-name" [style.color]="row.color">{{
      row.value
    }}</span>
    <div
      class="chart__cell-block"
      *ngFor="let cell of timeline"
      [style.minWidth.px]="cellWidthInPx"
    >
      <div class="chart__cell-lines">
        <span
          class="chart__cell-line chart__cell-line--short chart__cell-line--left"
          [ngClass]="{ 'chart__cell-line--reverse': row.cell_reverse }"
        ></span>
        <span
          class="chart__cell-line"
          [ngClass]="{ 'chart__cell-line--reverse': row.cell_reverse }"
        ></span>
        <span
          class="chart__cell-line chart__cell-line--short chart__cell-line--right"
          [ngClass]="{ 'chart__cell-line--reverse': row.cell_reverse }"
        ></span>
      </div>
    </div>
  </div>

  <div class="chart__slider" *ngIf="currentEvent">
    <div class="chart__multi-slider">
      <input
        type="range"
        class="slider__input slider__input--left"
        #inputLeft
        [style.width.px]="currentEvent.init_duration"
        [style.left.px]="currentEvent.init_start"
        [min]="currentEvent.init_start"
        [max]="currentEvent.init_start + currentEvent.init_duration"
        step="1"
        [value]="currentEvent.start"
        (input)="changeRange($event)"
      />
      <input
        type="range"
        class="slider__input slider__input--right"
        #inputRight
        [style.width.px]="currentEvent.init_duration"
        [style.left.px]="currentEvent.init_start"
        [min]="currentEvent.init_start"
        [max]="currentEvent.init_start + currentEvent.init_duration"
        step="1"
        [value]="currentEvent.start + currentEvent.duration"
        (input)="changeRange($event, true)"
      />
      <div
        class="slider"
        [style.width.px]="currentEvent.init_duration"
        [style.left.px]="currentEvent.init_start"
      ></div>
    </div>
  </div>
  <p *ngIf="currentEvent">
    Start:
    {{ currentEvent.start_time.toDate() | date: 'HH:mm' }}
  </p>
  <p *ngIf="currentEvent">
    End:
    {{ currentEvent.end_time.toDate() | date: 'HH:mm'  }}
  </p>
  <button (click)="saveNewValues()">Save changes</button>
</div>
